:root {
    --code-color: #ff0000;
    --dark-color: #333;
    --light-color: #f2f2f2;
    --primary-color: #1e90ff;
    --secondary-color: #222;
    --hover-color: #007BFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(0deg, var(--light-color), var(--secondary-color));
    color: var(--dark-color);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

.app {
    background-color: var(--light-color);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 2em;
    width: 90%;
    max-width: 800px;
    text-align: center;
}

.screen:not(.active) {
    display: none;
}

h1 {
    font-size: 3rem;
    font-family: 'Roboto'
}

.form h2 {
    color: var(--primary-color);
    font-size: 2em;
    margin-bottom: 15px;
    text-align: center;
    animation: fadeIn 1s;
}

.file-input, .files-list, .form {
    margin-bottom: 30px;
}

.form-input b, .form-input span {
    display: block;
    text-align: center;
}

.join-screen .form input#join-id {
    font-size: 24px;
    font-family: 'Courier New', monospace;
    height: 50px;
    padding: 10px;
    width: 100%;
    color: red;
    text-align: center;
}

.form-input button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 50px;
    color: #fff;
    font-size: 1.2em;
    padding: 12px 24px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-top: 10px;
}

.form-input span {
    border: 2px solid var(--dark-color);
    color: var(--code-color);
    display: block;
    font-family: 'Courier New', monospace;
    font-size: 1.6em;
    margin-top: 10px;
    padding: 10px;
}

.file-input input[type='file'] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.file-input {
    align-items: center;
    border: 2px dashed var(--primary-color);
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    transition: border 0.3s ease;
    margin-top: 20px;
    position: relative;
    display: inline-block;
    background-color: #f8f8f8;
}

.file-input:hover {
    border: 2px dashed var(--dark-color);
}

.file-input label {
    color: var(--primary-color);
    cursor: pointer;
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.files-list .item {
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
}

.files-list .item .filename {
    font-family: 'Courier New', monospace;
}

.files-list .item .progress {
    color: var(--primary-color);
    font-weight: bold;
}

.files-list .title {
    color: var(--primary-color);
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
}

nav {
    margin: 20px;

}

.nav-link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--primary-color);
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.nav-link:hover {
    color: #FFFFFF;
    background-color: #0082ca;
    text-decoration: underline;
}

.nav-link:active {
    transform: scale(0.95);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}